.dark {

  background: #0F1B07 url(./images/paul.jpg);
  background-size: cover;
}

.field__text_dark {
  color: #C6D166;
  font-weight: bold;
  background-color: rgba(15, 27, 7, 0.85);
  box-shadow: 0px 0px 50px 42px rgba(198, 209, 102, 1);
}

